<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bibliotheque.css}"/>

    <title>Recherche</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<!--NAVBAR-->
<div th:include="navbar.html"></div>

<!--BODY-->

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"><strong>Rechercher</strong></h1>
    </div>

    <hr class="my-4">

    <div class="recherche">

        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-livre-tab" data-toggle="pill" href="#v-pills-livre" role="tab" aria-controls="v-pills-livre" aria-selected="true">Par livre</a>
                    <a class="nav-link" id="v-pills-auteur-tab" data-toggle="pill" href="#v-pills-auteur" role="tab" aria-controls="v-pills-auteur" aria-selected="false">Par auteur</a>
                    <a class="nav-link" id="v-pills-genre-tab" data-toggle="pill" href="#v-pills-genre" role="tab" aria-controls="v-pills-genre" aria-selected="false">Par genre</a>
                    <a class="nav-link" id="v-pills-multi-tab" data-toggle="pill" href="#v-pills-multi" role="tab" aria-controls="v-pills-multi" aria-selected="false">Multi-critères</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade" id="v-pills-livre" role="tabpanel" aria-labelledby="v-pills-livre-tab">
                        <form action="rechercher" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Titre</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="titre" placeholder="titre">
                                    </div>
                                </div>
                                <div class="row col-12">
                                </div>
                            </div>
                            <div class="pull-right margin-20t">
                                <input type="submit" name="_recherche_spot_" value="Rechercher" class="btn btn-outline-secondary"/>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade show active" id="v-pills-auteur" role="tabpanel" aria-labelledby="v-pills-auteur-tab">
                        <form action="rechercher" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Auteur</label>
                                    <div class="input-group mb-3">
                                        <select class="custom-select" name="auteur" id="auteur">
                                            <option selected>Séléctionnez</option>
                                            <p th:each="auteur : ${auteurs}" >
                                                <option th:text= "${auteur.nom}"></option>
                                            </p>
                                        </select>
                                    </div>
                                </div>
                                <div class="row col-12">
                                </div>
                            </div>
                            <div class="pull-right margin-20t">
                                <input type="submit" name="_recherche_spot_" value="Rechercher" class="btn btn-outline-secondary"/>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="v-pills-genre" role="tabpanel" aria-labelledby="v-pills-genre-tab">
                        <form action="rechercher" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Genre</label>
                                    <div class="input-group mb-3">
                                        <select class="custom-select" name="genre" id="genre">
                                            <option selected>Séléctionnez</option>
                                            <p th:each="genre : ${genres}" >
                                                <option th:text= "${genre.genre}"></option>
                                            </p>
                                        </select>
                                    </div>
                                </div>
                                <div class="row col-12">
                                </div>
                            </div>
                            <div class="pull-right margin-20t">
                                <input type="submit" name="_recherche_spot_" value="Rechercher" class="btn btn-outline-secondary"/>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="v-pills-multi" role="tabpanel" aria-labelledby="v-pills-multi-tab">
                        <form action="rechercher" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Auteur</label>
                                    <div class="input-group mb-3">
                                        <select class="custom-select" name="auteur" id="multi_auteur">
                                            <option selected>Séléctionnez</option>
                                            <p th:each="auteur : ${auteurs}" >
                                                <option th:text= "${auteur.nom}"></option>
                                            </p>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Genre</label>
                                    <div class="input-group mb-3">
                                        <select class="custom-select" name="genre" id="multi_genre">
                                            <option selected>Séléctionnez</option>
                                            <p th:each="genre : ${genres}" >
                                                <option th:text= "${genre.genre}"></option>
                                            </p>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Bibliothèque</label>
                                    <div class="input-group mb-3">
                                        <select class="custom-select" name="genre" id="multi_biblio">
                                            <option selected>Séléctionnez</option>
                                            <p th:each="biblio : ${biblios}" >
                                                <option th:text= "${biblio.nom}"></option>
                                            </p>
                                        </select>
                                    </div>
                                </div>
                                <div class="row col-12">
                                </div>
                            </div>
                            <div class="pull-right margin-20t">
                                <input type="submit" name="_recherche_spot_" value="Rechercher" class="btn btn-outline-secondary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div>
        <hr class="my-4">
    </div>

    <div class="resultat table-responsive">
        <h3 class="text-center"><strong>Résultat</strong></h3>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Livre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Genre</th>
            </tr>
            </thead>
            <tbody>
<!--            un foreach-->
                <tr>
                    <td><a class="link" href="#">titre livre</a></td>
                    <td><a class="link" href="#">nom auteur</a></td>
                    <td>genre</td>
                </tr>
<!--            un foreach-->
            </tbody>
        </table>
        <!--            if-->
<!--            <h4 class="text-center">vide</h4>-->
        <!--            if-->
    </div>
</div>
<!--FOOTER-->
<div th:include="footer.html"></div>

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>

<script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>

</body>
</html>